In [2]:
import pandas as pd
import numpy as np

In [3]:
train = pd.read_csv('../../Data/train.csv')
test = pd.read_csv('../../Data/test.csv')

In [4]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [6]:
print("Training set : Rows {} and Columns {}".format(*train.shape))
print("Testing set : Rows {} and Columns {}".format(*test.shape))

Training set : Rows 891 and Columns 12
Testing set : Rows 418 and Columns 11

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Nuestra tarea es poder predicir la columna faltante del dataset de test. La columna si sobreviviÃ³ o no. Por ahora usaremos el dataset de entrenamiento. Podemos observar que el hecho de que posea registros faltantes va a requerir de un preprocesameinto antes de entrar al modelo de machine learning.

In [8]:
# Podemos quitar dos registros para que todos queden como embarked.
train = train.dropna(subset=['Embarked'])
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          712 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        202 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.3+ KB

In [9]:
# La edad es importante, pero podemos tener el promedio para estos valores vacÃ­os.

mean =  train["Age"].mean()
mean

29.64209269662921

In [10]:
train["Age"] = train["Age"].fillna(mean)

C:\Users\jefai\AppData\Local\Temp\ipykernel_5076\1613282959.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["Age"] = train["Age"].fillna(mean)

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        202 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.3+ KB

In [12]:
# Podmeos deshacernos de una columna
train = train.drop("Cabin", axis=1)
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 83.3+ KB

## Identificadores

Un algoritmo de ML busca predecir data o poner una etiqueta a los datos, es fÃ¡cil predecir cuando los datos son conocidos ya que el algoritmo peude memorizar todas las entradas, a esto se le conoce como overfitign, esta memorizaciÃ³n desempeÃ±a mla cuando tenemos data que no conocemos.
Para esto revisamos los features de nuestro dataset:

In [13]:
train.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S

El valor que tiene la columna `PasangerId` es un valor consecutivo, lo cual no genera valor a nuestro modelo. el `Name` tampoco aporta porque la sueprvivencia o no de nuestro pasajero a predecir no depende el nombre, ni el tiquete ni el id consectuivo. Por lo que podemos remover tambiÃ©n `Ticket`

In [14]:
unwanted_columns = ['PassengerId','Name','Ticket']
train = train.drop(unwanted_columns, axis=1)

In [15]:
train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [16]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  889 non-null    int64
 1   Pclass    889 non-null    int64
 2   Sex       889 non-null    object
 3   Age       889 non-null    float64
 4   SibSp     889 non-null    int64
 5   Parch     889 non-null    int64
 6   Fare      889 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 62.5+ KB

## Manejo de atributos categoricos.

Los modelos de M reciben usalmente nÃºmeros en vez de texto, si queremos usar texto, podemos valernos de las utilidades de scikit leanr.

In [17]:
from sklearn.preprocessing import LabelEncoder

In [18]:
le = LabelEncoder()
le

LabelEncoder()

In [19]:
for col in ['Sex','Embarked']:
    le.fit(train[col])
    train[col] = le.transform(train[col])

Es posible hacer el cÃ³digo anterior con las funciones apply de pandas?

In [20]:
train.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

## Feature Scaling.

Nuestro modelos de machine learning reciben data numÃ©rica, y tienden a darla mÃ¡s valor cuendo nuestros valores numÃ©ricos son muy grandos. Por ejemplo para las columnas de `Age` y `Fare` tenemos diferentes rangos que de dejarlos asÃ­ introducirÃ­an un sesgo a nuestro modelo.

In [21]:
print("The max value of Age {}".format(max(train['Age'])))
print("The max value of Fare {}".format(max(train['Fare'])))

The max value of Age 80.0
The max value of Fare 512.3292

En estos casos podemos usar herramientas que nos permitan escalar nuestra data a  valores que sean trabajables para nuestro modelo d euna manera equitativa.

In [22]:
from sklearn.preprocessing import MinMaxScaler

In [23]:
scaler =  MinMaxScaler()
scaler.fit(train)
train = scaler.transform(train)

In [24]:
print("Min Value {} and Max Value {}".format(train.min(), train.max()))

Min Value 0.0 and Max Value 1.0

In [25]:
type(train)

numpy.ndarray

## Training and testing.

El propÃ³sito de nuestros algoritmos es que de alguna forma performe bien en data que conoce y que pueda predecir datos que data que aÃºn no conoce. Podemos separar nuestro dataset en estos conjuntos, `sci-kit-learn` tiene funciones para esto. Requerimos separa la data de entrada de los labels resultantes que queremos predecir.

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
input_data = train[:, 1:8]
labels =  train[:,0] # Esta es la columna de los sobrevivientes
len(input_data)

889

In [28]:
train_input, test_input, train_labels, test_labels = train_test_split(input_data, labels, test_size = 0.2)

In [29]:
print('We have {} training and {} testing rows'.format(train_input.shape
[0], test_input.shape[0]))
print('There are {} input columns'.format(train_input.shape[1]))

We have 711 training and 178 testing rows
There are 7 input columns

Podemos guardar todo este procesamiento que hizo apra poder usarlo en ocasiones posteriores.

In [30]:
with open('data/train.npy', 'wb') as f:
    np.save(f, train_input)
    np.save(f, train_labels)

In [31]:
with open('data/test.npy', 'wb') as f:
    np.save(f, test_input)
    np.save(f, test_labels)

## Base Line.

Vamos a crear una lÃ­nea base  para usar nuestro algoritmo y clasificar si sobrevivio o no. Haremos esto de manera aleatoria tal que podamos aplicarlo.

In [32]:
import random

In [33]:
random.seed(a=None, version=2)

In [34]:
# creamos funciÃ³n para clasificar

def classify(passanger):
    return random.randint(0,1)

Queremo crear una funciÃ³n que tome como valores la funciÃ³n clasificar y como segundo argumento el input data. Esta funciÃ³n mapeara por cada iten el input un clasificador.

In [35]:
def run(f_classify, x):
    return list(map(f_classify,x))

In [36]:
result = run(classify, train_input)

In [37]:
result[:5] # Estas son nuestras predicciones

[0, 1, 0, 0, 0]

Ahora queremos saber si lo que predijimos es correcto debemos comparar si el resutlado de la predicciÃ³n matchea con el resutlado actual predicho.

In [38]:
def evaluate(predictions, actual):
    correct = list(filter(lambda item: item[0] == item[1],
                    list(zip(predictions, actual))))
    return '{} prediciones correctas de {} - PrecisiÃ³n {:.0f} %'.format(len(correct), len(actual), 100*len(correct)/len(actual))

In [39]:
evaluate(result, train_labels)

'365 prediciones correctas de 711 - PrecisiÃ³n 51 %'

In [40]:
def predict_death(item):
    return 0

In [41]:
evaluate(run(predict_death, train_input), train_labels)

'452 prediciones correctas de 711 - PrecisiÃ³n 64 %'

## Evaluar el clasificador y las medidas.

La evaluciÃ³n es la parte central de todo algoritmo. Escoger la medida de optimizaciÃ³n es crucial, cuando optimizamos los puntajes de nuestra funciÃ³n de evaluaciÃ³n. Una forma de evaluar el performance del clasificador es mirando la matriz de confusiÃ³n.


![](../_assets/ConfusionMatriz.png)

La idea general es comporar las predicciones con los valores reales. En clasificaciÃ³n binaria solo tenemos dos posibles resultados, falso o verdadero. Y nos posibles predicciones falso, o verdadero. 

Existen 4 posibilidadews.

- **True Negatives**: Un pasajero que muriÃ³ fue correctamente predicho. **TN**
- **False Positives**: Un pasajero que muriÃ³ y fue predicho errÃ³nameante de que sobreviviÃ³. **FP**
- **Falsos Negativos**: Un pasajero que sobreviviÃ³ pero fue predicho de morir. **FN**
- **True positive**: Un pasajero que sobreviviÃ³ fue correctamente predicho. **TP**

In [42]:
from sklearn.metrics import confusion_matrix

La primera lÃ­nea del arreglo que genera la matriz de confusiÃ³n de scikit es TN y FP, y la segunda parte del array es TP y FN. Podemos definir la presciciÃ³n como:


$$accuracy = \frac{\sum TP + \sum TN }{TotalPopulation}$$

In [43]:
predictions =run(predict_death, train_input)
confusion_matrix(train_labels, predictions)

array([[452,   0],
       [259,   0]], dtype=int64)

Podemos tomar de la matriz de confusiÃ³n diferentes mediciones para saber cÃ³mo se desempeÃ±a el algoritmo:

- **PrecisiÃ³n**: Es el accuracy de las predicciones positivas.
$$Precision=\frac{\sum TP}{\sum Todos_valores_positivos_predichos}$$

In [47]:
# PrecisiÃ³n: Accuracy de medidas positivas.
from sklearn.metrics import precision_score

In [48]:
print('The precision score of the predict_death classifier is {}'.format(precision_score(train_labels, predictions)))

The precision score of the predict_death classifier is 0.0

c:\Users\jefai\Documents\Cerebrum\Learning_Notebooks\NoteBooks\ComputaciÃ³n CuÃ¡ntica\env_q\lib\site-packages\sklearn\metrics\_classification.py:1334: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))


- **Recall**: Es el accuracy de los TP que verdaderamente fueron medidos positivos.

$$Recall=\frac{\sum TP}{\sum AllActualPositives}$$

In [49]:
from sklearn.metrics import recall_score

In [50]:
print('The recall score of the predict_death classifier is {}'.format(recall_score(train_labels, predictions)))

The recall score of the predict_death classifier is 0.0

- **Especificidad**
- **NPV**, negative predicted value.

Vamos en la pÃ¡gina 52. Estamos buscando entender las diferentes metricas que tiene la matriz de confusiÃ³n precisamente para explicar la relaciÃ³n entre las prediccioens y lo verdadero.


Autosugerencia.


Muchas de las cosas que veo aquÃ­, tambiÃ©n las he tocado en otros cursos de Machine Learning. Debo considerar seriamente el proceso de consolidaciÃ³n de Ciencia de Datos.